################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/100 days/Lib/site-packages
/100 days/Scripts
*.cfg
*.vsidx
/Day 20/__pycache__/snake.cpython-38.pyc
/Day 21/Snake Game/__pycache__/snake.cpython-38.pyc
